<!-- Begin: footer-->
<footer class="bg-bistre">
  <div class="py-10 mx-auto max-w-screen-custom_x">
    <div class="px-[15px] text-[14px] flex flex-wrap justify-between">
      <div class="text-timberwolf">
        <div class="w-[200px]">
          <img src="/assets/images/logo-text.webp" class="w-full h-full" alt="" />
        </div>
        <ul class="mt-5">
          <li>Công Ty TNHH Ola Việt Nam</li>
          <li>MST: 0315241288</li>
          <li>D8/39N ấp 4, Xã Vĩnh Lộc A, Huyện Bình Chánh, TP. Hồ Chí Minh, Việt Nam</li>
          <li>Tổng đài: 19009065</li>
          <li>Số ĐKKD 0315241288 do sở KHĐT TP. HCM cấp ngày 24/08/2018</li>
          <li>hotro@langfarm.com</li>
        </ul>
      </div>
      <div class="text-timberwolf">
        <div class="text-[18px]">Danh mục sản phẩm</div>
        <ul class="mt-5">
          <li>Tất cả sản phẩm</li>
          <li>Set quà tết L'angfarm 2023</li>
          <li>Bánh mứt đặc sản</li>
          <li>Cà phê</li>
          <li>Hạt đặc sản</li>
          <li>Bột nông sản</li>
          <li>Matcha & sencha</li>
          <li>Mứt & nước cốt</li>
          <li>Set quà</li>
          <li>Thảo mộc</li>
          <li>Cao thảo mộc</li>
          <li>Thịt khô</li>
          <li>Trái cây sấy dẻo</li>
          <li>Trái cây sấy giòn</li>
          <li>Trà hoà tan</li>
          <li>Trà pha ấm</li>
          <li>Trà túi lọc</li>
          <li>Quà tặng</li>
          <li>Bánh quà tặng</li>
        </ul>
      </div>
      <div class="text-timberwolf">
        <div class="text-[18px]">Hỗ trợ khách hàng</div>
        <ul class="mt-5">
          <li>Đăng nhập</li>
          <li>Đăng ký</li>
          <li>Điều khoản sử dụng</li>
          <li>Chính sách bảo mật</li>
          <li>Chính sách thanh toán</li>
          <li>Chính sách giao hàng</li>
          <li>Chính sách đổi trả hàng</li>
          <li>Hướng dẫn mua hàng online</li>
          <li>Chính sách xuất hoá đơn GTGT</li>
        </ul>
      </div>
      <div class="text-timberwolf">
        <div class="text-[18px]">Thông tin công ty</div>
        <ul class="mt-5">
          <li>Trang chủ</li>
          <li>Sản phẩm</li>
          <li>Store</li>
          <li>Buffet</li>
          <li>Công ty</li>
          <li>Tuyển dụng</li>
          <li>Địa chỉ</li>
          <li>Liên hệ</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End: footer-->
