<!-- Begin: body -->
<main>
  <div class="pt-[calc(600px_-_140px)]"></div>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <h1 class="text-[38px] font-[300] text-center mb-[21px]">Chúng tôi đến từ Đà Lạt, Việt Nam</h1>
    <p class="text-center font-[300] px-[17px] pb-[17px] break-words">
      L'angfarm là một thương hiệu của công ty TNHH Quảng Thái, được thành lập vào năm 2002 tại TP. Đà Lạt. Hiện nay,
      L'angfarm là thương hiệu đặc sản Đà Lạt hàng đầu, cung cấp sản phẩm nông sản chế biến chất lượng cao, an toàn, tin
      cậy, phải chăng, đẹp mắt, hài lòng như: Trà atisô, bánh mứt đặc sản, cà phê, hạt, nước cốt, thảo mộc, thịt khô,
      trà pha ấm, trà túi lọc, trái cây sấy dẻo, trái cây sấy giòn, bột trà xanh matcha, trà sencha hoa,…
    </p>

    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div>
      <div class="p-[17px]">
        <img src="/assets/images/company/1.jpg" alt="" class="w-full h-full" />
      </div>
      <div class="grid sm:grid-cols-2">
        <div class="p-[17px]">
          <img src="/assets/images/company/2.jpg" alt="" />
        </div>
        <div class="p-[17px]">
          <img src="/assets/images/company/3.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 z-[-1] min-h-[500px] max-h-[500px] w-full overflow-hidden">
      <img
        src="/assets/images/banner11.jpg"
        alt=""
        class="object-cover w-full h-full overflow-hidden min-h-[500px] max-h-[500px]" />
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(32,26,22,.7)]"></div>
      <div
        class="absolute top-0 bottom-0 left-0 right-0 text-white text-[30px] sm:text-[86px] font-[200] text-center p-8 max-w-[956px] mx-auto w-full flex items-center justify-center">
        <h1 class="animate__animated animate__slideInUp">Sứ mệnh</h1>
      </div>
    </div>
    <div class="pt-[500px]"></div>
  </section>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <div class="px-[17px]">
      <h1 class="text-[35px] font-[300] text-center mb-[21px]">Thương hiệu đặc sản Đà Lạt dẫn đầu</h1>
      <p class="text-center font-[300] px-[17px] pb-[17px] break-words">
        Chúng tôi làm việc chăm chỉ mỗi ngày để tạo ra những sản phẩm đặc sản Đà Lạt uy tín, chất lượng cao, tốt cho sức
        khoẻ, bao bì đẹp mắt, hậu mãi hài lòng. Chúng tôi luôn mang trong mình khát vọng có thể giới thiệu cho toàn Thế
        Giới những sản phẩm tốt như vậy từ quê hương mình
      </p>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 z-[10] min-h-[500px] max-h-[500px] w-full overflow-hidden">
      <img
        src="/assets/images/banner12.jpg"
        alt=""
        class="object-cover w-full h-full overflow-hidden min-h-[500px] max-h-[500px]" />
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(32,26,22,.7)]"></div>
      <div
        class="absolute z-[10] top-0 bottom-0 left-0 right-0 text-white text-[30px] sm:text-[86px] font-[200] text-center p-8 max-w-[956px] mx-auto w-full flex items-center justify-center">
        <div class="z-[1000]">
          <h1 class="animate__animated animate__slideInUp">Niềm tin</h1>
        </div>
      </div>
    </div>
    <div class="pt-[500px] z-[-1]"></div>
  </section>

  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <h1 class="text-[38px] font-[300] text-center mb-[21px]">
      Đưa nông sản thành một phần có nghĩa và hợp lý trong cuộc sống bận rộn hàng ngày
    </h1>
    <p class="text-center font-[300] px-[17px] pb-[17px] break-words">
      Chúng tôi tin rằng nông sản Việt Nam nói chung và nông sản Đà Lạt nói riêng mang trong mình giá trị vô cùng to
      lớn. Tuy vậy, khai thác được giá trị đó là một thách thức rất lớn. Chúng ta cần phải làm việc chăm chỉ hơn nữa,
      sáng tạo hơn nữa để có thể đưa nông sản trở thành một phần có nghĩa và hợp lý với cuộc sống hàng ngày đầy bận rộn
      của con người
    </p>
    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div>
      <div class="p-[17px] animate__animated animate__fadeIn">
        <img src="/assets/images/company/4.jpg" alt="" class="w-full h-full" />
      </div>
      <div class="grid sm:grid-cols-2 animate__animated animate__fadeIn">
        <div class="p-[17px]">
          <img src="/assets/images/company/5.jpg" alt="" />
        </div>
        <div class="p-[17px] animate__animated animate__fadeIn">
          <img src="/assets/images/company/6.jpg" alt="" />
        </div>
      </div>
      <div class="p-[17px] animate__animated animate__fadeIn">
        <img src="/assets/images/company/7.jpg" alt="" class="w-full h-full" />
      </div>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 z-[10] min-h-[500px] max-h-[500px] w-full overflow-hidden">
      <img
        src="/assets/images/banner13.jpg"
        alt=""
        class="object-cover w-full h-full overflow-hidden min-h-[500px] max-h-[500px]" />
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(32,26,22,.7)]"></div>
      <div
        class="absolute z-[10] top-0 bottom-0 left-0 right-0 text-white text-[30px] sm:text-[86px] font-[200] text-center p-8 max-w-[956px] mx-auto w-full flex items-center justify-center">
        <div class="z-[1000]">
          <h1 class="animate__animated animate__slideInUp">Tìm hiểu thêm</h1>
        </div>
      </div>
    </div>
    <div class="pt-[500px] z-[-1]"></div>
  </section>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <h1 class="text-[38px] font-[300] text-center mb-[21px]">Sản phẩm, dịch vụ, cửa hàng, tuyển dụng từ L’angfarm</h1>
    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <template x-for="card in $store.findOutMore">
        <div class="w-full p-[17px]">
          <div>
            <img :src="card.photo" alt="" />
          </div>
          <div class="pt-[17px]">
            <h4 x-text="card.title" class="text-[28px] font-[300]"></h4>
            <p class="mt-4 font-[300]" x-text="card.description"></p>
          </div>
          <div>
            <a
              :href="card.href"
              class="py-2.5 px-5 mt-4 hover:bg-black hover:text-white font-[300] border-2 inline-block border-black"
              >Tìm hiểu thêm</a
            >
          </div>
        </div>
      </template>
    </div>
  </section>
</main>
<!-- End: body -->
