<!-- Begin: body -->
<main>
  <div class="pt-[calc(600px_-_140px)]"></div>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <h1 class="text-[38px] font-[300] text-center mb-[21px]">Chuỗi cửa hàng bán lẻ đặc sản Đà Lạt uy tín nhất</h1>
    <p class="text-center font-[300] px-[17px] pb-[17px] break-words">
      L'angfarm Store là hệ thống chuỗi cửa hàng bán lẻ đặc sản Đà Lạt do chúng tôi trực tiếp xây dựng và vận hành nhằm
      mục đích: Mang đến những sản phẩm đặc sản Đà Lạt an toàn, chất lượng và đẹp mắt nhất; Lưu chuyển hàng hoá đúng
      tiêu chuẩn với mức giá được kiểm soát tốt nhất; Cung cấp trải nghiệm mua sắm hoàn hảo nhất; Lắng nghe ý kiến khách
      hàng thấu đáo nhất; Làm cơ sở hậu cần cho dịch vụ hậu mãi hài lòng nhất. Hiện tại, L'angfarm Store đã có trên 40
      cửa hàng tại TP. Đà Lạt, Hồ Chí Minh, Nha Trang, Đà Nẵng, Vũng Tàu và sẽ tiếp tục mở rộng trên toàn quốc
    </p>

    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div>
      <div class="p-[17px]">
        <img src="/assets/images/home1.jpg" alt="" class="w-full h-full" />
      </div>
      <div class="grid sm:grid-cols-2">
        <div class="p-[17px]">
          <img src="/assets/images/home2.jpg" alt="" />
        </div>
        <div class="p-[17px]">
          <img src="/assets/images/home3.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 z-[-1] min-h-[500px] max-h-[500px] w-full overflow-hidden">
      <img
        src="/assets/images/banner3.jpg"
        alt=""
        class="object-cover w-full h-full overflow-hidden min-h-[500px] max-h-[500px]" />
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(32,26,22,.7)]"></div>
      <div
        class="absolute top-0 bottom-0 left-0 right-0 text-white text-[30px] sm:text-[86px] font-[200] text-center p-8 max-w-[956px] mx-auto w-full flex items-center justify-center">
        <h1 class="animate__animated animate__slideInUp">Đặc điểm nổi bật</h1>
      </div>
    </div>
    <div class="pt-[500px]"></div>
  </section>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <div class="px-[17px]">
      <h1 class="text-[35px] font-[300] text-center mb-[21px]">
        Chất lượng, an toàn, nông sản, tin cậy, đẹp mắt, phải chăng, hài lòng
      </h1>
      <p class="text-center text-[16px] font-[300] px-[17px] pb-[17px] break-words">
        Sản phẩm chất lượng, an toàn vệ sinh, nguồn gốc nông sản, bao bì đẹp mắt, giá cả phải chăng, hậu mãi hài lòng.
        Đây vừa là những đặc điểm nổi bật của hệ thống cửa hàng L'angfarm Store, vừa là lời cam kết của chúng tôi đối
        với khách hàng, vừa là kim chỉ nam cho toàn bộ cố gắng và nỗ lực của L'angfarm trong tương lai
      </p>
    </div>

    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <template x-for="card in $store.cards">
        <div class="w-full p-[17px]">
          <div>
            <img :src="card.photoCard" alt="" />
          </div>
          <div class="pt-[17px]">
            <h4 x-text="card.title" class="text-[28px] font-[300]"></h4>
            <p class="mt-4 font-[300]" x-text="card.description"></p>
          </div>
        </div>
      </template>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 z-[10] min-h-[500px] max-h-[500px] w-full overflow-hidden">
      <img
        src="/assets/images/home4.jpg"
        alt=""
        class="object-cover w-full h-full overflow-hidden min-h-[500px] max-h-[500px]" />
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(32,26,22,.7)]"></div>
      <div
        class="absolute z-[10] top-0 bottom-0 left-0 right-0 text-white text-[30px] sm:text-[86px] font-[200] text-center p-8 max-w-[956px] mx-auto w-full flex items-center justify-center">
        <div class="z-[1000]">
          <h1 class="animate__animated animate__slideInUp">Sản phẩm</h1>
        </div>
      </div>
    </div>
    <div class="pt-[500px] z-[-1]"></div>
  </section>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <div class="px-[17px]">
      <h1 class="text-[35px] font-[300] text-center mb-[21px]">
        Trên 100 sản phẩm đặc sản Đà Lạt. Chất lượng, tin cậy, đẹp mắt, chỉ từ 14,000 đ
      </h1>
      <p class="text-center text-[16px] font-[300] px-[17px] pb-[17px] break-words">
        Bao gồm 12 nhóm sản phẩm: Nhóm bánh mứt đặc sản, nhóm cà phê, nhóm hạt, nhóm nước cốt, nhóm thảo mộc, nhóm thịt
        khô, nhóm trà pha ấm, nhóm trà túi lọc, nhóm trái cây sấy dẻo, nhóm trái cây sấy giòn, nhóm bột trà xanh matcha,
        nhóm trà sencha hoa
      </p>
    </div>
    <div class="flex justify-center p-[17px]">
      <a
        href="/online-store"
        class="block border-2 py-[8px] hover:bg-black hover:text-white transition-all duration-300 px-[26px] border-black font-[300]"
        >Mua hàng online</a
      >
    </div>
    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div class="px-[17px] grid-cols-1 grid md:grid-cols-2">
      <template x-data x-for="card in $store.cards2">
        <div class="p-[17px]">
          <div class="mb-[17px]">
            <img :src="card.photoCard" alt="" />
          </div>
          <div class="pt-[17px] pb-[17px]">
            <h4 class="text-[26px] font-[300]" x-text="card.title">123</h4>
            <p class="font-[300] mt-[16px]" x-text="card.description"></p>
          </div>
        </div>
      </template>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 z-[10] min-h-[500px] max-h-[500px] w-full overflow-hidden">
      <img
        src="/assets/images/banner4.jpg"
        alt=""
        class="object-cover w-full h-full overflow-hidden min-h-[500px] max-h-[500px]" />
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(32,26,22,.7)]"></div>
      <div
        class="absolute z-[10] top-0 bottom-0 left-0 right-0 text-white sm:text-[86px] font-[200] text-center p-8 max-w-[956px] mx-auto w-full flex items-center justify-center">
        <div class="z-[1000]">
          <h1 class="animate__animated animate__slideInUp text-[30px] sm:text-[80px]">Mua hàng ngay hôm nay</h1>
        </div>
      </div>
    </div>
    <div class="pt-[500px] z-[-1]"></div>
  </section>
  <section class="mx-auto max-w-screen-custom_lg py-[96px] px-8">
    <div class="px-[17px]">
      <h1 class="text-[35px] font-[300] text-center mb-[21px]">
        Đặc sản Đà Lạt chất lượng, giá chính hãng, giao hàng toàn quốc
      </h1>
      <p class="text-center text-[16px] font-[300] px-[17px] pb-[17px] break-words">
        Khách hàng có thể mua hàng bằng cách đến trực tiếp tại cửa hàng L'angfarm hoặc đặt mua qua điện thoại hoặc đặt
        mua online trên website thương mại điện tử chính thức của L'angfarm
      </p>
    </div>

    <div class="p-[17px]">
      <hr class="my-8" />
    </div>
    <div class="p-[17px] grid grid-cols-1 md:grid-cols-3 gap-5">
      <div>
        <h5 class="text-[26px] font-[300]">Mua tại cửa hàng</h5>
        <p class="text-[15px] font-[300]">
          Hệ thống trên 35 cửa hàng L'angfarm Store tại TP. Đà Lạt, Hồ Chí Minh, Nha Trang, Đà Nẵng, Vũng Tàu. Sẽ mở
          rộng trên toàn quốc
        </p>
        <div class="flex">
          <a
            href="/address/store-address"
            class="text-center block border-2 border-black py-[10px] mt-[20px] hover:bg-black hover:text-white transition-all duration-300 uppercase font-[300] text-[14px] tracking-[2px] px-[26px]"
            >Xem địa chỉ</a
          >
        </div>
      </div>
      <div>
        <h5 class="text-[26px] font-[300]">Mua tại cửa hàng</h5>
        <p class="text-[15px] font-[300]">
          Trên website thương mại điện tử chính thức của L'angfarm, giao hàng tận nơi trên toàn quốc
        </p>
        <div class="flex">
          <a
            href="/online-store"
            class="text-center block border-2 border-black py-[10px] mt-[20px] hover:bg-black hover:text-white transition-all duration-300 uppercase font-[300] text-[14px] tracking-[2px] px-[26px]"
            >Website chính hãng</a
          >
        </div>
      </div>
      <div>
        <h5 class="text-[26px] font-[300]">Mua tại cửa hàng</h5>
        <p class="text-[15px] font-[300]">Gọi tổng đài điện thoại số: 19009065 để được tư vấn mua hàng</p>
        <div class="flex">
          <a
            href="tel:19009065"
            class="text-center block border-2 border-black py-[10px] mt-[20px] hover:bg-black hover:text-white transition-all duration-300 uppercase font-[300] text-[14px] tracking-[2px] px-[26px]"
            >Gọi ngay</a
          >
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End: body -->
